/* Estilo base del menú */
nav {
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: none;
  width: 60vw;
}
nav ul.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
}

nav li {
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: #b3b3b3;
}

nav li a {
  color: #333;
  text-decoration: none;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

/* Mostrar el menú desplegable al pasar por encima */
nav li:hover .dropdown-content {
  display: block;
}
