.layout {
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

div header {
  grid-area: header;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  width: 100%;
  box-shadow: 1px 2px 2px rgb(177, 177, 177);
  height: 60px;
  align-items: center;
}
div header img {
  height: 60px;
  object-fit: contain;
}
div main {
  grid-area: main;
}
div footer {
  grid-area: footer;
  background-color: aqua;
}
